<!DOCTYPE html>
<html>
  <head>
    <script src="js/jquery-3.6.0.min.js"></script>

    <script src="js/bowser.js"></script>

    <script src="dist/jspsych.js"></script>
    <script src="dist/plugin-html-keyboard-response.js"></script>
    <script src="dist/plugin-html-button-response.js"></script>
    <script src="dist/plugin-call-function.js"></script>
    <script src="dist/plugin-webgazer-init-camera.js"></script>
    <script src="dist/plugin-webgazer-calibrate.js"></script>
    <script src="dist/plugin-webgazer-validate.js"></script>
    <script src="js/webgazer/webgazer.js"></script>
    <script src="dist/plugin-survey-text.js"></script>
    <script src="dist/plugin-fullscreen.js"></script>
    <script src="dist/extension-webgazer.js"></script>
    <link rel="stylesheet" href="dist/jspsych.css"> </link>
    
    <!-- <link rel="stylesheet" href="../../dist/jspsych.css"> </link> -->
    
    <!-- <link href="css/" rel="stylesheet" type="text/css"></link> -->
    <link href="css/binary-choice.css" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" href="">
    <script src="js/stimuli_data.js"></script>
    
    <!-- <script src="js/binary-choice-table.js"></script> -->
    <script src="js/binary-choice-table-four.js"></script>
    <script src="js/svo-survey-multi-choice.js"></script>
    <script src="js/svo-survey-likert.js"></script>
    <script src="../src/main.js"></script>
    <style>
      .jspsych-content {
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <div
    style="max-width:1000px; margin:auto;  background-color: white;color:black; padding-bottom: 50px; padding-left: 50px;padding-right: 50px; padding-top: 50px; font-size: larger; font-family:Arial, Helvetica, sans-serif">
    <div id="top-bar">
      <img src="..\img\MPI_logo.png" alt="MPI-logo"  height="100px">

    </div>
    <div id="content">
      <h3> Unfortunately, you exited the full-screen mode and the experiment cannot continue. </h3>
      
</html>
